extends layout

block content
  header#error
    .header-content
      .header-content-inner
        h1= message
        h2= error.status
        hr.light
        a.btn.btn-primary.btn-xl.page-scroll(href='/') Retour à l'accueil
