extends layout

block content
  header
    .header-content
      .header-content-inner
        h1.welcome Ne perdez plus de temps inutilement...
        hr
        p
          | Pré-commandez maintenant vos repas en ligne via&nbsp;
          strong nunchl&nbsp;
          | , notre plateforme innovante !
        a.btn.btn-primary.btn-xl.page-scroll(href='#about') Découvrir
  section#about.bg-primary
    .container
      .row
        .col-lg-6.col-lg-offset-3.text-center
          h2.section-heading La solution à vos besoins
          hr.light
          p.text-faded.text-justify
            strong nunchl&nbsp;
            | propose un service de pré-commande en ligne simple, rapide et adapté aux nouveaux standards : connectez-vous, sélectionnez votre repas, allez le récupérer à l’heure convenue en évitant la file et profitez de cette belle journée ;)
  section#services
    .container
      .row
        .col-lg-12.text-center
          h2.section-heading À Votre Service !
          hr.primary
      .row
        .col-lg-3.col-md-6.text-center
          .service-box
            i.fa.fa-4x.fa-globe.wow.bounceIn.text-primary
            h3 Découvrez
            p.text-muted Parcourez la liste des établissements disponibles près de chez vous.
        .col-lg-3.col-md-6.text-center
          .service-box
            i.fa.fa-4x.fa-laptop.wow.bounceIn.text-primary(data-wow-delay='.1s')
            h3 Commandez
            p.text-muted Sélectionnez votre repas en accédant aux menus directement en ligne.
        .col-lg-3.col-md-6.text-center
          .service-box
            i.fa.fa-4x.fa-thumbs-up.wow.bounceIn.text-primary(data-wow-delay='.2s')
            h3 Récupérez
            p.text-muted Après validation de votre commande, venez la retirer sans faire la file.
        .col-lg-3.col-md-6.text-center
          .service-box
            i.fa.fa-4x.fa-heart.wow.bounceIn.text-primary(data-wow-delay='.3s')
            h3 Profitez
            p.text-muted Profitez du temps restant pour réaliser vos rêves !
  aside.bg-dark
    .container.text-center
      .call-to-action
        h2 Tenez moi au courant !
        .row
          .col-md-6.col-md-offset-3.col-sm-12.m-b-md.m-t-md
            form(name="get-email", method="post")
              .form-group
                input.form-control(type="email", name="email", placeholder="jane.doe@example.net")
              .form-group.m-t-md
                input.btn.btn-default.btn-xl.wow(type="submit", value="Merci !")
  section#contact
    .container
      .row
        .col-lg-6.col-lg-offset-3.text-center
          h2.section-heading Nous contacter
          hr.primary
          p.text-justify
            |  Vous êtes&nbsp;
            strong propriétaire&nbsp;
            | d'un établissement et souhaitez obtenir un accès anticipé à notre plateforme ?! Parfait ! N'hésitez pas à nous téléphoner ou à nous envoyer un email et nous reviendrons vers vous le plus rapidement possible ! Profitez-en, les places sont&nbsp;
            strong limitées&nbsp;
            | !
          p.text-justify
            | Vous un&nbsp;
            strong particulier&nbsp;
            | et avez une remarque, un conseil, une idée ou simplement l'envie de discuter avec nous ? Nous sommes toujours ouvert aux échanges autour d'une bonne bière... à bon entendeur !
      .row.m-t-md
        .col-lg-3.col-lg-offset-3.text-center
          i.fa.fa-phone.fa-3x.wow.bounceIn
          p.m-t-md
            | +32 487 191 457 (Joao)
            br
            | +32 495 177 562 (Maxime)
        .col-lg-3.text-center
          i.fa.fa-envelope-o.fa-3x.wow.bounceIn(data-wow-delay='.1s')
          p.m-t-md
            a(href='mailto:nunchl@outlook.com') nunchl@outlook.com
